<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<head>
    <title>Carro</title>
    <link rel="stylesheet" href="/css/carrito.css">


</head>

<body>

    <%- include("../partials/header.ejs") %>


    <main class="main-cart">
        <div class="box-cart">
        <span class="titulo-carrito">Tu carrito</span> 

        <% if (cart.length === 0) { %>
            <span class="numero-articulos">No hay productos en el carrito</span>
        <% } else { %>
            <article>
                <% cart.forEach((item) => { %>
                    <p><%= item.name %> - <%= item.price %></p>
                <% }); %>
            </article>
            <p>Total: <%= cart.reduce((total, item) => total + item.price, 0) %></p>
            <form action="/" method="post">
                <button class="comprar" type="submit">Comprar</button>
            </form>
        <% } %>
        <span class="envios">Envios gratis a toda Argentina</span>
        </div>

    </main>

    <%- include("../partials/footer") %>

</body>
</html>
