<!-- PAGINA DEL CATALOGO DE PRODUCTOS -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/catalogo.css">
    <title>Catalogo</title>
</head>

<body>
    <%- include("../partials/header.ejs") %>

  <main class="main">

    <h1>Catalogo</h1>
    <!-- filter para filtrar por categoria idea -->

    <section class="array-products">
    <% for( let i = 0; i < products.length; i++ ) { %>

      <article class="producto" onclick="location.href='/products/detalle/<%= products[i].id%>'">

        <img src="/images/<%= products[i].image %>" alt="Producto 1" class="imag">
        <h3><%= products[i].name %></h3>
        <p class="descripcion"><%= products[i].description %></p>
        <span class="precio">$<%= products[i].price %></span>
        
      </article>

    <% } %>
    </section>
  <% if (locals.userFound && locals.userAdmin) { %>
  <section class="section-input">
    <input type="submit" id="boton_agregar" value="Cargar producto" onclick="location.href= '/products/create'">
  </section>
  <% } %>

  </main>

  <%- include("../partials/footer") %>

  </body>
</html>