<!-- PAGINA DE CREACION DE UN PRODUCTO -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/create.css">
    <title>Mate.ar -Nuevo producto</title>
</head>

<body>
    <%- include("../partials/header") %>

    <main class="main">
        
        <section class="create-container">
        <form action="/products/create" method="POST" class="create" enctype="multipart/form-data"> 
            <span class="titulo">Creacion del producto</span>

            <label class="label-create">Nombre del producto</label>
            <input type="text" name="name" placeholder="Nombre" class="input" 
                class="form-control <%= locals.errors && errors.product ? 'is-invalid' : null %>"
                value= "<%= locals.oldData ? oldData.product : null %>">
            <% if (locals.errors && errors.product) { %>
                    <div class="text-danger">
                        <%= errors.product.msg %>
                    </div>
            <% } %>
            
            <label class="label-create">Descripcion del producto</label>
            <input type="text" name="description" placeholder="descripcion" class="input" 
                class="form-control <%= locals.errors && errors.description ? 'is-invalid' : null %>"
                value= "<%= locals.oldData ? oldData.description : null %>">
            <% if (locals.errors && errors.description) { %>
                <div class="text-danger">
                    <%= errors.description.msg %>
                </div>
            <% } %>

            <label class="label-create">Precio del producto</label>
            <input type="number" name="price" placeholder="Precio" class="input" 
                class="form-control <%= locals.errors && errors.price ? 'is-invalid' : null %>"
                value= "<%= locals.oldData ? oldData.price : null %>">
            <% if (locals.errors && errors.price) { %>
                <div class="text-danger">
                    <%= errors.price.msg %>
                </div>
            <% } %>

            <label class="label-create">Imagen del producto</label>
            <input type="file" name="image" placeholder="Imagen" class="file" 
                class="form-control <%= locals.errors && errors.image ? 'is-invalid' : null %>">
            <% if (locals.errors && errors.image) { %>
                <div class="text-danger">
                    <%= errors.image.msg %>
                </div>
            <% } %>
            
            <label class="label-create">Categoria del producto</label>
            
            <select name="category_id" class="form-select"> <!--<%= locals.errors && errors.categorias ? 'is-invalid' : null %>-->

                        <%  let num1 = categorias.find(element => element.id == 1)
                        let num2 = categorias.find(element => element.id == 2)
                        let num3 = categorias.find(element => element.id == 3)
                        let num4 = categorias.find(element => element.id == 4)%>
        
                        <option value="<%= num1.id %>"> <%= num1.name %> </option>
                        <option value="<%= num2.id %>"> <%= num2.name %> </option>
                        <option value="<%= num3.id %>"> <%= num3.name %> </option>
                        <option value="<%= num4.id %>"> <%= num4.name %> </option>
            </select>

            <button type="submit" class="button">Subir</button>

        </form>
        </section>
        
    </main>
    
<%- include("../partials/footer") %>
</body>
</html>