<!-- PAGINA DE CREACION DE UN PRODUCTO -->

<!DOCTYPE html>
<html lang="en">

<% if(locals.userAdmin){ %>
<head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/create.css">
    <title>Mate.ar -Nuevo producto</title>
</head>
<body>
    <%- include("../partials/header") %>
    <main class="main">
        <form action="/products/create" method="POST" class="create" enctype="multipart/form-data"> 
            <h1 class="titulo">Creacion del producto</h1>

            <label class="label-create">Nombre del producto</label>
            <input type="text" name="name" placeholder="Nombre" class="input" 
                 value="<%= ey && ey.name ? ey.name : '' %>">
                <% if(typeof errores != "undefined"){ %>
                    <% console.log(ey) %>
                    <% for(let i = 0; i < errores.length; i++) {%>
                    <% if (errores[i].path == "name") { %>
                      <small class="text-danger"><%= errores[i].msg %></small>
                  <% } %>
                  <% } %>
                  <% } %>
            
            <label class="label-create">Descripcion del producto</label>
            <input type="text" name="description" placeholder="descripcion" class="input" 
                 value="<%= ey && ey.description ? ey.description : '' %>">
                <% if(typeof errores != "undefined"){ %>
                    <% for(let i = 0; i < errores.length; i++) {%>
                    <% if (errores[i].path == "description") { %>
                      <small class="text-danger"><%= errores[i].msg %></small>
                  <% } %>
                  <% } %>
                  <% } %>
            

            <label class="label-create">Precio del producto</label>
            <input type="number" name="price" placeholder="Precio" class="input" 
                 value="<%= ey && ey.price ? ey.price : '' %>">
                <% if(typeof errores != "undefined"){ %>
                    <% for(let i = 0; i < errores.length; i++) {%>
                    <% if (errores[i].path == "price") { %>
                      <small class="text-danger"><%= errores[i].msg %></small>
                  <% } %>
                  <% } %>
                  <% } %>
            

            <label class="label-create">Imagen del producto</label>
            <input type="file" name="image" placeholder="Imagen" class="file" 
                 value="<%= ey && ey.image ? ey.image : '' %>">
                <% if(typeof errores != "undefined"){ %>
                    <% for(let i = 0; i < errores.length; i++) {%>
                    <% if (errores[i].path == "image") { %>
                      <small class="text-danger"><%= errores[i].msg %></small>
                  <% } %>
                  <% } %>
                  <% } %>
            
            
            <label class="label-create">Categoria del producto</label>
            
            <select name="category_id" class="form-select"> <!--<%= locals.errors && errors.categorias ? 'is-invalid' : null %>-->

                        <%  let num1 = categorias.find(element => element.id == 1)
                        let num2 = categorias.find(element => element.id == 2)
                        let num3 = categorias.find(element => element.id == 3)
                        let num4 = categorias.find(element => element.id == 4)
                        let num5 = categorias.find(element => element.id == 5)%>
        
                        <option value="<%= num1.id %>"> <%= num1.name %> </option>
                        <option value="<%= num2.id %>"> <%= num2.name %> </option>
                        <option value="<%= num3.id %>"> <%= num3.name %> </option>
                        <option value="<%= num4.id %>"> <%= num4.name %> </option>
                        <option value="<%= num5.id %>"> <%= num5.name %> </option>
            </select>
<div class="boton">
            <button type="submit" class="button">Subir</button>
</div>
        </form>     
    </main>
    
<%- include("../partials/footer") %>
<script src="/js/createYEditProducs.js"></script>
</body>
<% } else {%>
    <script>
        window.location.href = "/"
    </script>

<% } %>
</html>