<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>
<head>
    <link rel="stylesheet" href="/css/detalleProducto.css">
    <title>Detalle de producto</title>
</head>

<body>
  <%- include("../partials/header") %>

  <main class="main">

    <div class="producto">
      <section class="array-products">

        <% console.log(product) %>
        <% if (product) { %>
        
          <h1 class="title"><%= product.nombre %></h1>
        <% } else { %>
          <h1 class="title">Producto no encontrado</h1>    
          <% } %>
          <article class="producto">
            <img src="/images/<%= product.imagen %>" alt="Producto 1" class="imag">
            <h3><%= product.nombre %></h3>
            <p class="descripcion"><%= product.descripcion %></p>
            <span class="precio">$<%= product.precio %></span>
          </article>

        </section>

      <div class="botones">
        <form method="GET" action="/users/carrito/add/<%= product.id %>">
        <button class="boton"><a href="/users/carrito/add/?id=<%= product.id %>">Añadir al carrito</a></button>
        </form>

        <button class="button"><a href="/products/edition?id=<%= product.id %>">Editar</a></button>

        <form method="POST" action="/products/<%= product.id %>?_method=DELETE">
        <button type="submit" class="button" onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?')">Eliminar</button>
        </form>

      </div>
    </div>

  </main>

  <%- include("../partials/footer") %>

</body>
</html>