<!-- PAGINA DEL DETALLE DEL PRODUCTO -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/detalleProducto.css">
    <title>Detalle de producto</title>
</head>

<body>
  <%- include("../partials/header") %>

  <main class="main">

    <div class="producto">
      <section class="array-products">
        
          <h1 class="title"><%= product.name%></h1>
        
          <article class="products">
            <img src="/images/<%= product.image %>" alt="Producto 1" class="imag">
            <h3><%= product.name %></h3>
            <p class="descripcion"><%= product.description %></p>
            <span class="precio">$<%= product.price %></span>
          </article>

        </section>

      <div class="botones">
        <button class="button_carrito" data-id="<%= product.id %>" <% if (locals.userLogged) { %>
            onclick="location.herf='/users/carrito'" <% } else { %> onclick="location.href='/users/login'"
          <% } %>>
          <div class="default-btn" data-id="<%= product.id %>" >
          <i class="fa-solid fa-eye"></i>
          <span data-id="<%= product.id %>">Agregar?</span>
        </div>
        <div class="hover-btn" data-id="<%= product.id %>">
          <i class="fa fa-shopping-cart cart"></i>
          <span data-id="<%= product.id %>">Agregado</span>
        </div>
      </button>
        
        <!--</form>-->
          </div>
          <div class="buttons-admin">
      <% if (locals.userFound && locals.userAdmin) { %>
        <input type="submit" class="boton-admin" value="Editar" onclick="location.href= '/products/edition/<%= product.id %>'">
        <input type="submit" class="boton-admin" value="Eliminar" onclick="location.href= '/products/delete/<%= product.id %>'">
        <% } %>
      </div>
        
      </div>
    </div>

    <section>
      <h2>Reseñas</h2>
      
      <section class="reseñas">
        <img src="/images/users/avatar.png" alt="user" class="img">
        <div>
          <h4>User6172783</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla labore non ipsam adipisci esse voluptatibus eos 
          tempore consequatur obcaecati laboriosam quos.</p>
        </div>
      </section>
    </section>

  </main>

  <%- include("../partials/footer") %>
  <script src="/js/agregarCarrito.js"></script>

</body>
</html>