<!-- PAGINA DEL INICIO DE SESION DEL USUARIO -->

<!DOCTYPE html>
<html lang="en">

<head>
	<%- include("../partials/head") %>
		<title>Formulario Login</title>
		<link rel="stylesheet" href="/css/acceso.css">
</head>

<body>

	<%- include("../partials/header") %>

		<main class="main">
			<div class="login-container">
				<p class="iniciar">Iniciar sesión</p>
				<form method="POST" class="form-acceso" action="/users/login">

					<label class="login-sub">Correo electrónico</label>
					<input type="text" name="email" placeholder="correo" class="login-input" value="<%= ey && ey.email ? ey.email : ' ' %>">
					<% if(typeof errores !="undefined" ){ %>
						<% for(let i=0; i < errores.length; i++) {%>
							<% if (errores[i].path=="email" ) { %>
								<small class="text-danger">
									<%= errores[i].msg %>
								</small>
								<% } %>
									<% } %>
										<% } %>

					<label class="login-sub" id="contra">Contraseña</label>
					<input type="password" name="password" placeholder="hola81272" class="login-input">
					<% if(typeof errores !="undefined" ){ %>
						<% for(let i=0; i < errores.length; i++) {%>
							<% if (errores[i].path=="password" ) { %>
								<small class="text-danger">
									<%= errores[i].msg %>
								</small>
								<% } %>
									<% } %>
										<% } %>


				<label class="login-sub">
					<input type="checkbox" class="boton_remember"
						name="remember">Recordar mi usuario
				</label>

				<div class="bottom">
					<button type="submit"
						class="boton-iniciar">Iniciar sesión</button>
			</div>
				</form>
				<h3 class="go-register">¿No tenes una cuenta? <a href="/registro"> Regístrate aquí</a></h3>
			</div>
		</main>

		<%- include("../partials/footer") %>

</body>

</html>