<!-- PAGINA DEL PERFIL DEL USUARIO -->

<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head") %>
    <title>Perfil - MateAr</title>
    <link rel="stylesheet" href="/css/perfil.css">
</head>

<body>
	<%- include("../partials/header") %>

    <main class="main">
        
        <section class="data">
            
            <section>
                <h1 class="title">Hola <%=user.user_name %></h1>
                <h2 class="h2">Tu informacion personal</h2>
                <ul class="lista">
                    <li><%= user.user_name %></li>
                    <li><%= user.name_lastName %></li>
                    <li><%= user.email %></li>
                    <li><%= user.country %></li>
                    <li><%= user.direction %></li>
                    <li>Productos en el carrito: 0</li>
                </ul>
                <input type="button" name="editar" value="Editar"  class="button">
                <input type="submit" class="button" value="Cerrar Sesion" onclick="location.href= '/users/logout'">
            </section>
            <section>
            </section>
            <img src="/images/users/<%= user.avatar %>" class="img">
        </section>
</main>

<%- include("../partials/footer") %>

</body>
</html>