<!-- PAGINA DEL PERFIL DEL USUARIO -->

<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head") %>
    <title>Perfil - MateAr</title>
    <link rel="stylesheet" href="/css/perfil.css">
</head>

<body>
	<%- include("../partials/header") %>

    <main>
        <div class="main">
        
   
            
            <section class="data">
                
                <h2 class="h2">Tu informacion personal</h2>
                <ul class="lista">
                    <li class="sub-title">Nombre y apellido</li>
                    <li><%= user.name_lastName %></li>
                    <li class="sub-title">Correo electronico</li>
                    <li><%= user.email %></li>
                    <li class="sub-title">Pais</li>
                    <li><%= user.country %></li>
                    <li class="sub-title">Domilicio</li>
                    <li><%= user.direction %></li>
                </ul>
                <div class="container-buttons">
                <input type="button" name="editar" value="Editar"  class="button">
                <input type="submit" class="button" value="Cerrar Sesion" onclick="location.href= '/users/logout'">
            </div></section>
            <section class="imagenyhola">
            <h1 class="title">Hola <%=user.user_name %></h1>
            <img src="/images/users/<%= user.avatar %>" class="img">
        </section>
    </div>
</main>

<%- include("../partials/footer") %>

</body>
</html>