<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

<head>
    <title><%= user.nombre_user %> - MateAr</title>
    <link rel="stylesheet" href="/css/perfil.css">
</head>

<body>

	<%- include("../partials/header") %>

    <main class="main">
		<div class="box-big">
            <h2>Hola <%= user.nombre_apellido %></h2>
            <img src="/images/users/<%= user.avatar %>">
        </div>
        <br><br>

        <div class="email_user"><%= user.email %></div>
</main>

<%- include("../partials/footer") %>

</body>
</html>