<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head") %>

<head>
    <title>Perfil - MateAr</title>
    <link rel="stylesheet" href="/css/perfil.css">
</head>

<body>

	<%- include("../partials/header") %>

    <main class="main">
        <h2 class="title">Hola <%=locals.userLogged.username %></h2>
        <img src="/images/users/<%= locals.userLogged.avatar %>" class="img">
        
        <section class="section">
            <h2>Tu informacion personal</h2>
            <ul>
                <li><%= locals.userLogged.name_lastName %></li>
                <li><%= locals.userLogged.email %></li>
                <li><%= locals.userLogged.country %></li>
                <li><%= locals.userLogged.direction %></li>
            </ul>
        </section>

        <section>
            <input type="button" name="editar" value="editar" >
        </section>
</main>

<%- include("../partials/footer") %>

</body>
</html>