<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head") %>

<head>
    <title>Perfil - MateAr</title>
    <link rel="stylesheet" href="/css/perfil.css">
</head>

<body>

	<%- include("../partials/header") %>

    <main class="main">
		
        <h2 class="title">Hola <%= user.nombre_user %></h2>
        <img src="/images/users/<%= user.avatar %>" class="img">
        
        <section class="section">
            <h2>Tu informacion personal</h2>
            <ul>
                <li><%= user.nombre_apellido %></li>
                <li><%= user.email %></li>
                <li><%= user.pais %></li>
                <li><%= user.domicilio %></li>
                <li><%= user.contraseña %></li>
            </ul>
        </section>

        <section>
            <input type="button" name="editar" value="editar" >
        </section>
</main>

<%- include("../partials/footer") %>

</body>
</html>