<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>
<head>
    <title>Registro - Mater.ar</title>
    <link rel="stylesheet" href="/css/registro.css">
</head>

<body>

  <%- include("../partials/header") %>

    <main class="main">
    <form method="POST" class="box-register" enctype="multipart/form-data" action="/users/registro">

      <h1>Regristro</h1>

      <label class="registro">Nombre de usuario</label>
      <input type="text" class="in-register" name="nombre_usuario" placeholder="Genaro777"
      class="form-control <%= locals.errors && errors.nombre_usuario ? 'is-invalid' : null %>"
      value= "<%= locals.oldData ? oldData.nombre_usuario : null %>">
      <% if (locals.errors && errors.nombre_usuario) { %>
        <div class="text-danger">
            <%= errors.nombre_usuario.msg %>
        </div>
    <% } %>

      <label class="registro">Nombre y apellido</label>
      <input type="text" class="in-register" name="nombre_apellido" placeholder="Gustavo Cerati"
      class="form-control <%= locals.errors && errors.nombre_apellido ? 'is-invalid' : null %>"
      value= "<%= locals.oldData ? oldData.nombre_apellido : null %>">
      <% if (locals.errors && errors.nombre_apellido) { %>
        <div class="text-danger">
            <%= errors.nombre_apellido.msg %>
        </div>
    <% } %>


      <label class="registro">Correo electrónico</label>
      <input type="email" class="in-register" name="email" placeholder="genarorafault@gmail.com"
      class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
      value= "<%= locals.oldData ? oldData.email : null %>">
      <% if (locals.errors && errors.email) { %>
        <div class="text-danger">
            <%= errors.email.msg %>
        </div>
    <% } %>

      
      <label class="registro">Pais</label>
      <select name="pais" class="in-register"
      class="form-select <%= locals.errors && errors.category ? 'is-invalid' : null %>">

        <option value="">Selecciona un Pais</option>
        <%
          let paises = ["Argentina", "Colombia", "Peru", "Canada"]
        %>

        <% for (const oneCountry of paises) { %>
          <option 
          value="<%= oneCountry %>"
          <%= locals.oldData && (oneCountry  === oldData.paises ) ? 'selected' : null %>>
          <%= oneCountry %> </option>
              <% } %>
      </select>
      <% if (locals.errors && errors.paises ) { %>
        <div class="text-danger">
            <%= errors.paises.msg %>
        </div>
    <% } %>


      <label class="registro">Domicilio</label>
      <input type="text" class="in-register" name="domicilio" placeholder="Calle numero" 
      class="form-control <%= locals.errors && errors.domicilio ? 'is-invalid' : null %>">
      <% if (locals.errors && errors.domicilio) { %>
          <div class="text-danger">
              <%= errors.domicilio.msg %>
          </div>
      <% } %>

      <label class="registro">Permisos</label>
      <label><input type="radio" name="admin"> Admin</label>

      <label class="registro">Avatar</label>
      <input type="file" class="in-register" name="avatar"
      class="form-control <%= locals.errors && errors.avatar ? 'is-invalid' : null %>">
      <% if (locals.errors && errors.avatar) { %>
          <div class="text-danger">
              <%= errors.avatar.msg %>
          </div>
      <% } %>
      
      
      <label class="registro">Contraseña</label>
      <input type="password" class="in-register" name="contraseña"  placeholder="123456789"
      class="form-control <%= locals.errors && errors.contraseña ? 'is-invalid' : null %>"
      value= "<%= locals.oldData ? oldData.contraseña : null %>">
      <% if (locals.errors && errors.contraseña) { %>
        <div class="text-danger">
            <%= errors.contraseña.msg %>
        </div>
    <% } %>


      <!--<label class="registro">Confirmar contraseña</label>
      <input type="password" class="in-register" name="confirmar_contraseña" placeholder="123456789"
      class="form-control <%= locals.errors && errors.confirmar_contraseña ? 'is-invalid' : null %>"
      value= "<%= locals.oldData ? oldData.confirmar_contraseña : null %>">
      <% if (locals.errors && errors.confirmar_contraseña) { %>
        <div class="text-danger">
            <%= errors.confirmar_contraseña.msg %>
        </div>
    <% } %>-->


      <label class="registro"><input type="radio" name="terminos y condiciones"> Acepto terminos y condiciones</label>

      <div class="boton">
        <button type="submit" class="boton-registro">Crear cuenta</button>
        <button type="reset" class="boton-registro">Borrar</button>
      </div>


    </form>
    </main>

  
  <%- include("../partials/footer") %>

</body>
</html>