<!-- PAGINA DE REGISTRO DE USUARIO -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
    <title>Registro - Mater.ar</title>
    <link rel="stylesheet" href="/css/registro.css">
</head>

<body>
  <%- include("../partials/header") %>

    <main class="main">
    <form method="POST" class="box-register" action="/users/registro" enctype="multipart/form-data">

      <h1>Regristro</h1>

      <label class="registro">Nombre de usuario</label>
      <input type="text"  name="username" placeholder="User123456" id="user"
      class="in-register" value="<%= ey && ey.username ? ey.username : '' %>">
      <% if(typeof errores != "undefined"){ %>
      <% for(let i = 0; i < errores.length; i++) {%>
      <% if (errores[i].path == "username") { %>
        <small class="text-danger"><%= errores[i].msg %></small>
    <% } %>
    <% } %>
    <% } %>

      <label class="registro">Nombre y apellido</label>
      <input type="text"  name="name_lastName" placeholder="Gustavo Cerati" id="name"
      class="in-register" value="<%= ey.name_lastName || '' %>">
      <% if(typeof errores != "undefined"){ %>
        <% for(let i = 0; i < errores.length; i++) {%>
        <% if (errores[i].path == "name_lastName") { %>
          <small class="text-danger"><%= errores[i].msg %></small>
      <% } %>
      <% } %>
      <% } %>

      <label class="registro">Correo electrónico</label>
      <input type="email" name="email" placeholder="genarorafault@gmail.com" id="email"
      class="in-register" value="<%= ey.email || '' %>">
      <% if(typeof errores != "undefined"){ %>
        <% for(let i = 0; i < errores.length; i++) {%>
        <% if (errores[i].path == "email") { %>
          <small class="text-danger"><%= errores[i].msg %></small>
      <% } %>
      <% } %>
      <% } %>

      <label class="registro">Pais</label>
      <select name="country" 
      class="in-register form-select" value="<%= ey.country || '' %>">
      
        <option value="">Selecciona un Pais</option>
        <%
          let country = ["Argentina", "Colombia", "Peru", "Canada","Brasil", "España"]
        %>

        <% for (const oneCountry of country) { %>
          <option 
          value="<%=oneCountry%>"
          <%= locals.oldData && (oneCountry  === oldData.country ) ? 'selected' : null %>>
          <%= oneCountry %> </option>
              <% } %>
      </select>
      <% if(typeof errores != "undefined"){ %>
        <% for(let i = 0; i < errores.length; i++) {%>
        <% if (errores[i].path == "country") { %>
          <small class="text-danger"><%= errores[i].msg %></small>
      <% } %>
      <% } %>
      <% } %>


      <label class="registro">Domicilio</label>
      <input type="text"  name="direction" placeholder="Calle numero" 
      class="in-register form-control" value="<%= ey.direction || '' %>">
      <% if(typeof errores != "undefined"){ %>
        <% for(let i = 0; i < errores.length; i++) {%>
        <% if (errores[i].path == "direction") { %>
          <small class="text-danger"><%= errores[i].msg %></small>
      <% } %>
      <% } %>
      <% } %>


      <label class="registro">Avatar</label>
      <input type="file"  name="avatar" style="border: none" id="imag"
      class="in-register" value="<%= ey.avatar || '' %>">
      <% if(typeof errores != "undefined"){ %>
        <% for(let i = 0; i < errores.length; i++) {%>
        <% if (errores[i].path == "avatar") { %>
          <small class="text-danger"><%= errores[i].msg %></small>
      <% } %>
      <% } %>
      <% } %>


      <label class="registro">Contraseña</label>
      <input type="password" name="password"  placeholder="123456789" id="contra"
      class="in-register">
      <% if(typeof errores != "undefined"){ %>
        <% for(let i = 0; i < errores.length; i++) {%>
        <% if (errores[i].path == "password") { %>
          <small class="text-danger"><%= errores[i].msg %></small>
      <% } %>
      <% } %>
      <% } %>


      <label class="registro"><input type="radio" name="terminos_y_condiciones"> Acepto terminos y condiciones</label>
      <% if(typeof errores != "undefined"){ %>
        <% for(let i = 0; i < errores.length; i++) {%>
        <% if (errores[i].path == "terminos_y_condiciones") { %>
          <small class="text-danger"><%= errores[i].msg %></small>
      <% } %>
      <% } %>
      <% } %>

      <section class="errores">
        <ul>

        </ul>
      </section>

      <div class="boton">
        <button type="submit" class="boton-registro">Crear cuenta</button>
        <button type="reset" class="boton-registro">Borrar</button>
      </div>
    </form>
    </main>

  <%- include("../partials/footer") %>

  <script src="public/js/validacionRegistro.js"></script>
</body>
</html>