<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>
<head>
    <title>Registro - Mater.ar</title>
    <link rel="stylesheet" href="/css/registro.css">
</head>

<body>

  <%- include("../partials/header") %>

    <main class="main">
    <form method="POST" class="box-register" action="/users/registro" enctype="multipart/form-data">

      <h1>Regristro</h1>

      <label class="registro">Nombre de usuario</label>
      <input type="text"  name="username" placeholder="User123456" id="user"
      class="in-register <%= locals.errors && errors.username ? 'is-invalid' : null %>"
      value= "<%= locals.oldData ? oldData.username : null %>">
      <% if (locals.errors && errors.username) { %>
        <div class="text-danger">
            <%= errors.username.msg %>
        </div>
    <% } %>

      <label class="registro">Nombre y apellido</label>
      <input type="text"  name="name_lastName" placeholder="Gustavo Cerati" id="name"
      class="in-register <%= locals.errors && errors.name_lastName ? 'is-invalid' : null %>"
      value= "<%= locals.oldData ? oldData.name_lastName : null %>">
      <% if (locals.errors && errors.name_lastName) { %>
        <div class="text-danger">
            <%= errors.name_lastName.msg %>
        </div>
    <% } %>


      <label class="registro">Correo electrónico</label>
      <input type="email" name="email" placeholder="genarorafault@gmail.com" id="email"
      class="in-register <%= locals.errors && errors.email ? 'is-invalid' : null %>"
      value= "<%= locals.oldData ? oldData.email : null %>">
      <% if (locals.errors && errors.email) { %>
        <div class="text-danger">
            <%= errors.email.msg %>
        </div>
    <% } %>

      
      <label class="registro">Pais</label>
      <select name="country" 
      class="in-register form-select <%= locals.errors && errors.country ? 'is-invalid' : null %>">
      
        <option value="">Selecciona un Pais</option>
        <%
          let country = ["Argentina", "Colombia", "Peru", "Canada","Brasil", "España"]
        %>

        <% for (const oneCountry of country) { %>
          <option 
          value="<%= oneCountry %>"
          <%= locals.oldData && (oneCountry  === oldData.country ) ? 'selected' : null %>>
          <%= oneCountry %> </option>
              <% } %>
      </select>
      <% if (locals.errors && errors.country ) { %>
        <div class="text-danger">
            <%= errors.country.msg %>
        </div>
    <% } %>


      <label class="registro">Domicilio</label>
      <input type="text"  name="direction" placeholder="Calle numero" 
      class="in-register form-control <%= locals.errors && errors.direction ? 'is-invalid' : null %>">
      <% if (locals.errors && errors.direction) { %>
          <div class="text-danger">
              <%= errors.direction.msg %>
          </div>
      <% } %>

      <label class="registro">Avatar</label>
      <input type="file"  name="avatar" style="border: none" id="imag"
      class="in-register <%= locals.errors && errors.avatar ? 'is-invalid' : null %>">

      <% if (locals.errors && errors.avatar) { %>
        <div class="text-danger">
            <%= errors.avatar.msg %>
        </div>
    <% } %> 

      <label class="registro">Contraseña</label>
      <input type="password" name="password"  placeholder="123456789" id="contra"
      class="in-register <%= locals.errors && errors.password ? 'is-invalid' : null %>"
      value= "<%= locals.oldData ? oldData.password : null %>">
      <% if (locals.errors && errors.password) { %>
        <div class="text-danger">
            <%= errors.password.msg %>
        </div>
    <% } %>

      <label class="registro"><input type="radio" name="terminos_y_condiciones"> Acepto terminos y condiciones</label>

      <div class="boton">
        <button type="submit" class="boton-registro">Crear cuenta</button>
        <button type="reset" class="boton-registro">Borrar</button>
      </div>

    </form>
    </main>

  
  <%- include("../partials/footer") %>

<script src="/js/registro"></script>

</body>
</html>